body {
    font-size: 20px;
    font-family: Ebrima;
    line-height: 1.6;
    margin: 0;
    background-color: #dfeded;
}

*,
*:before,
*:after{
box-sizing: border-box;
}

.container{
    margin:0 auto;
    width: 1200px;
    font-size: 20px;
}

.page {
    display:flex;
    flex-direction: column;
    justify-content: center;
 background-color: #000;
}
.page-logo{
     color: azure;
    font-size:140px;
    font-weight: 700;
    text-align: center;
 }
.page-inner{
    width:100%;
    max-width: 800px;
    margin:0 auto;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.header{
    width:100%;
    position: absolute; //Устанавливает способ позиционирования элемента относительно окна браузера
    top: 0px;
    left: 0;
    right: 0;
}

.header-logo{
    padding-top: 20px;
    font-size: 30px;
    color: azure;
    font-weight: 700;
}

.nav{
    font-size: 16px;
}

.nav-link{
    display:inline-block;
    text-transform: uppercase;
    vertical-align: top;
    margin:0 17px;
    color: azure;
    text-decoration: none;
    transition: color 50ms linear;
}

.nav-link:hover{
    color: brown;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    margin-top: 100px;
    border-radius: 100px;
    height: 300%;
    width: 1550px;
    max-width: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.cinema1{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px
}
.cinema2{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px
}
.cinema3{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px
}
.cinema6{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px
}
.cinema7{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px
}
.cinema8{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px
}
.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden;
   }
   .scale img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
